@using Licensing.Gateway.Models.Application
@model CQCProviderDetailsViewModel;
@{
    ViewData["Title"] = "Please confirm the following information is correct";
    Layout = "~/Views/Shared/_Layout_Application_Part_2.cshtml";
}

<partial name="_BackButton" />

@using (Html.BeginForm())
{
    var classAttribute = "";

    @if (Model.ValidationFailure)
    {
        classAttribute = "nhsuk-form-group--error";

        <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
            <h2 class="nhsuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>

            <div class="nhsuk-error-summary__body">
                <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
                    <li>
                        <a href="#form-error">@ViewData["Title"]</a>
                    </li>
                </ul>
            </div>

        </div>
    }

    <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class=" nhsuk-fieldset__heading nhsuk-u-padding-bottom-4">
                    @ViewData["Title"]
                </h1>
            </legend>

            @if (Model.IsCrsOrHtr)
            {
                <p>
                    This information was provided by the Care and Quality Commission.
                </p>
            }
            else
            {
                <p>
                    Information about the applicant organisation has been pre-populated from part one of the application form.                 </p>
            }

            <p>
                If any information is incorrect, you can change it for the purposes of this application only.
            </p>
            <p>
                It is your responsibility to ensure the information about your organisation is accurate and up to date with the Care Quality Commission (CQC).
            </p>
            <p>
                If the pre-populated information is incorrect, select 'no' and "next" to edit the information. 
            </p>

            <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">

                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        CQC Provider ID
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        @Model.CQCProviderID
                    </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Registered Provider name
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        @Model.Name
                    </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Registered address
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        @Model.Address
                    </dd>
                </div>

                @if (!string.IsNullOrWhiteSpace(@Model.PhoneNumber))
                {
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Phone number
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            @Model.PhoneNumber
                        </dd>
                    </div>
                }

                @if (!string.IsNullOrWhiteSpace(@Model.WebsiteURL))
                {
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Website address
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            @Model.WebsiteURL
                        </dd>
                    </div>
                }
            </dl>


            <div class="@classAttribute">

                <p>
                    <strong>
                        Is the information about the applicant organisation correct?
                    </strong>
                </p>

                @if (Model.ValidationFailure)
                {
                    <span class="nhsuk-error-message" id="form-error">
                        <span class="nhsuk-u-visually-hidden">Error:</span> Select an option
                    </span>
                }

                <div class="nhsuk-radios nhsuk-u-padding-bottom-4">

                    @for (var i = 0; i < Model.CQCInformationIsCorrectValues.Length; i++)
                    {
                        var value = Model.CQCInformationIsCorrectValues[i];
                        var id = $"{nameof(Model.CQCInformationIsCorrect)}-{i}";
                        <div class="nhsuk-radios__item">
                            @Html.RadioButtonFor(m => m.CQCInformationIsCorrect, value, new { id = id, @class = "nhsuk-radios__input" })
                            @Html.LabelFor(m => m.CQCInformationIsCorrect, value, new { @for = id, @class = "nhsuk-label nhsuk-radios__label" })
                        </div>
                    }
                </div>
            </div>

        </fieldset>

    </div>

    <partial name="_MainApplication_NextAndSave" model='new SaveAndNextViewModel { SubmitPageTo = Domain.Models.Database.ApplicationPage.CQCProviderConfirmation }' />

    @Html.HiddenFor(m => m.CQCProviderID)
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.Address)
}
