@using Domain.Logic.Features
@using Licence.Holder.Application.Models.Licence;
@model ChangeRegisteredAddressViewModel
@{
    Layout = "~/Views/Shared/_Layout_With_BreadCrumb.cshtml";
    ViewBag.Title = "NHS - Provider Licensing portal: Licence - change registered address";
}

<div class="nhsuk-width-container app-width-container">

    <partial name="_Nav_Licence_ManageCompany" />

    <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent" role="main">
        @using (Html.BeginForm())
        {
            var classAttribute_Line_1 = "";
            var classAttribute_TownOrCity = "";
            var classAttribute_Postcode = "";

            @if (Model.ValidationFailure)
            {
                if (string.IsNullOrWhiteSpace(Model.Address_Line_1))
                {
                    classAttribute_Line_1 = "nhsuk-form-group--error";
                }

                if (string.IsNullOrWhiteSpace(Model.Address_TownOrCity))
                {
                    classAttribute_TownOrCity = "nhsuk-form-group--error";
                }

                if (string.IsNullOrWhiteSpace(Model.Address_Postcode))
                {
                    classAttribute_Postcode = "nhsuk-form-group--error";
                }

                <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
                    <h2 class="nhsuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>

                    <div class="nhsuk-error-summary__body">
                        <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
                            <li>
                                <a href="#form-error">Review the registered address you have entered</a>
                            </li>
                        </ul>
                    </div>

                </div>
            }

            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                        <h1 class="nhsuk-fieldset__heading nhsuk-u-padding-bottom-4">
                            Change registered address
                        </h1>
                    </legend>

                    <p>
                        Enter new address. Ensure it matches the information on file with Companies House.
                        Any changes made will not be reflected in the CQC database.
                    </p>

                    @if (Model.ValidationFailure)
                    {
                        <span class="nhsuk-error-message" id="form-error">
                            <span class="nhsuk-u-visually-hidden">Error:</span> Enter the registered address of the Provider
                        </span>
                    }

                    <div class="@classAttribute_Line_1">
                        <label class="nhsuk-label" for="@nameof(Model.Address_Line_1)">
                            Address line 1
                        </label>

                        @Html.TextBoxFor(m => m.Address_Line_1, new { @id = $"{nameof(Model.Address_Line_1)}", @class = "nhsuk-input nhsuk-u-width-two-thirds" })
                    </div>
                    <div class="nhsuk-u-padding-bottom-4"></div>

                    <div class="">
                        <label class="nhsuk-label" for="@nameof(Model.Address_Line_2)">
                            Address line 2 (optional)
                        </label>

                        @Html.TextBoxFor(m => m.Address_Line_2, new { @id = $"{nameof(Model.Address_Line_2)}", @class = "nhsuk-input nhsuk-u-width-two-thirds" })
                    </div>
                    <div class="nhsuk-u-padding-bottom-4"></div>

                    <div class="@classAttribute_TownOrCity">
                        <label class="nhsuk-label" for="@nameof(Model.Address_TownOrCity)">
                            Town or city
                        </label>

                        @Html.TextBoxFor(m => m.Address_TownOrCity, new { @id = $"{nameof(Model.Address_TownOrCity)}", @class = "nhsuk-input nhsuk-u-width-one-half" })
                    </div>
                    <div class="nhsuk-u-padding-bottom-4"></div>

                    <div class="">
                        <label class="nhsuk-label" for="@nameof(Model.Address_County)">
                            County (optional)
                        </label>

                        @Html.TextBoxFor(m => m.Address_County, new { @id = $"{nameof(Model.Address_County)}", @class = "nhsuk-input nhsuk-u-width-one-half" })
                    </div>
                    <div class="nhsuk-u-padding-bottom-4"></div>

                    <div class="@classAttribute_Postcode">
                        <label class="nhsuk-label" for="@nameof(Model.Address_Postcode)">
                            Postcode
                        </label>

                        @Html.TextBoxFor(m => m.Address_Postcode, new { @id = $"{nameof(Model.Address_Postcode)}", @class = "nhsuk-input nhsuk-u-width-one-third" })
                    </div>
                    <div class="nhsuk-u-padding-bottom-4"></div>

                </fieldset>

            </div>

            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-quarter">
                    <button class="nhsuk-button" data-module="nhsuk-button" data-prevent-double-click="true" type="submit" asp-action="ChangeRegisteredAddress">
                        Continue
                    </button>
                </div>
                <div class="nhsuk-grid-column-one-quarter">
                    <a asp-action="CancelChangeOfRegisteredAddress">
                        Cancel
                    </a>
                </div>
            </div>
        }
    </main>
</div>